<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% block title %}
         
        
           
         
           {% endblock %}
    

    <!-- Bootstrap core CSS -->
    <link href='{% static "app/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href='{% static "app/assets/css/fontawesome.css" %}'>
    <link rel="stylesheet" href='{% static "app/assets/css/tooplate-main.css" %}'>
    <link rel="stylesheet" href= '{% static "app/assets/css/owl.css" %}'>
<!--
Tooplate 2114 Pixie
https://www.tooplate.com/view/2114-pixie
-->
  </head>

  <body>
    
    <!-- Pre Header -->
    <div id="pre-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p><i class="fas fa-mobile-alt"></i> - <span id="tele"></span> &nbsp; &nbsp; <i class="fas fa-envelope"></i> - <span id="email" >bhopal@gmail...com</span><p>
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    
		
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img id="logoimage" src= ""  alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
         {% block menu %}
           
          {% endblock %}
        </div>
      </div>
    </nav>

               
      
              
          
 
    <!-- Page Content -->
    <!-- Banner Starts Here -->
	{% block content1 %}
        
           
         
	
	 {% endblock %}
    <!-- Featred Ends Here -->


    <!-- Subscribe Form Starts Here -->
	
    <div class="subscribe-form">
      <div class="container">
        <div class="row">
		{% block content2 %}
         
        
           
         
           {% endblock %}
        </div>
      </div>
    </div>
    <!-- Subscribe Form Ends Here -->


    
    <!-- Footer Starts Here -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="logo">
              <img id="logoimage" src= ""  alt="">
            </div>
          </div>
          <div class="col-md-12">
            <div class="footer-menu">
              <ul>
                <li><a href="{% url 'homeApp' %}">Home</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'abouts' %}">About Us</a></li>
                
                <li><a href="{% url 'contactus' %}">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="social-icons">
              <ul>
                <li><a href="" id="facebook" ><i class="fa fa-facebook"></i></a></li>
                <li><a href=""  id="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="" id="instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="" id="youtube"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
			<div class="col-md-12">
            <div class="social-icons">
              <address> <span id="add1"></span> &nbsp; &nbsp;<span id="add2"> </span> </address>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Ends Here -->


    <!-- Sub Footer Starts Here -->
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>Copyright &copy; 2019 Unicor 
                
          </div>
        </div>
      </div>
    </div>
    <!-- Sub Footer Ends Here -->


    <!-- Bootstrap core JavaScript -->
    <script src= '{% static "app/vendor/jquery/jquery.min.js" %}' ></script>
    <script src= '{% static "app/vendor/bootstrap/js/bootstrap.bundle.min.js" %}' ></script>


    <!-- Additional Scripts -->
    <script src= '{% static "app/assets/js/custom.js" %}' ></script>
    <script src= '{% static "app/assets/js/owl.js" %}' ></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
    <script src= '{% static "app/customjs/logo.js" %}' ></script>
    <script src= '{% static "app/customjs/topcontact.js" %}' ></script>
     <script type="text/javascript" src='{% static "app/customjs/social.js" %}'></script>
    {% block script %}
         
        
           
         
      {% endblock %}


  </body>

</html>
